.header__menu {
  &-wrapper {
    display: none;
    background-color: green;
    width: 100%;
    height: 70vh;
    position: fixed;
    bottom: 0;
    z-index: 1;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    &.open {
      display: block;
      position: absolute;
      left: -2.4rem;
      bottom: -50rem;
      width: calc(100% + 4.8rem);
      height: 80vh;
    }
  }

  &-icon {
    img {
      width: 2.4rem;
      height: auto;
    }
  }

  &-nav {
    ul {
      padding-left: 0;
      list-style: none;
    }

    li:not(:last-child) {
      margin-bottom: .5rem;
    }

    @media screen and (min-width: $screen-sm) {
      display: block;

      li {
        display: inline-block;
        position: relative;
      }

      a {
        padding: 0 .5rem;

        &.active::after {
          content: "";
          position: absolute;
          bottom: -.5rem;
          left: 50%;
          transform: translateX(-50%);
          width: calc(100% + 1rem);
          height: .2rem;
          background-color: $black;
        }
      }
    }
  }

}


