.footer {
  &__wrap_menu {
    display: flex;
    align-items: center;
    flex-direction: inherit;
  }

  &__menu {
    width: 100%;

    li {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      @media screen and (min-width: $screen-md) {
        a:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }

    @media screen and (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__menu-column {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: $screen-sm) {
      align-items: flex-start;
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
}
