.header {

  background-color: $primary;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  @media screen and (min-width: $screen-sm) {
    justify-content: space-between;
  }

  &__menu-toggle {
    display: block;
    position: absolute;
    left: 0;
    width: 2.4rem;
    height: auto;

    & img {
      width: inherit;
      height: inherit;
    }

    @media screen and (min-width: $screen-sm) {
      & {
        display: none;
      }
    }
  }
}

