.footer {
  background-color: $black;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  color: $grey;
  font-family: $font-netflix-sans-regular;
  font-size: 1.3rem;

  &__wrap {
    display: flex;
    flex-direction: column;

    .footer__wrap-item:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__wrap_menu {
    @media screen and (min-width: $screen-sm) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
    }
  }

  &__logo {
    margin-bottom: 2.4rem;
    @media screen and (min-width: $screen-sm) {
      margin-right: 3rem;
    }
  }

  &__promo {
    @media screen and (min-width: $screen-sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__promo_cta {
    text-align: center;
    margin-bottom: 2.4rem;

    @media screen and (min-width: $screen-sm) {
      margin-bottom: 0;
    }

    button {
      padding: 2.4rem;
      border: 2px solid $grey;

      &:hover,
      &:focus {
        color: lighten($grey, 30%);
        border: 2px solid lighten($grey, 30%);
      }
    }
  }

  .footer__copyright {
    text-align: center;

    @media screen and (min-width: $screen-sm) {
      text-align: initial;
    }
  }

  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    color: $grey;

    &:hover {
      color: lighten($grey, 30%);
    }
  }
}
